body {
  background-image: url(/media/images/clean_white_polygon_backgrounds_8_geeks_love_bacon.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: visible;
}

.navbar {
  background-color: #393834;
}

.btn {
  background-color: white;
  border-color: #393834;
  color: black;
}

.btn:hover {
  color: white;
  border-color: white;
  background-color: #393834;
  resize: none;
}

.card {
  cursor: pointer;
}

.card img {
  width: 480px;
  height: 220px;
  pointer-events: none;
}

footer {
  background-color: #393834;
  color: white;
}

.container img {
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 500px) {
  .card img {
    display: none;
  }
}
