<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/style/style-10-round-endscreen.css" />
  <title>10 Round End Score</title>
</head>

<body>
  <h1>Result</h1>
  <img src="media/images/checkmark.png" class="checkmark" />
  <h3>You've completed the quiz</h3>
  <h4>Score card</h4>

  <div class="rectangle">
    <span class="circle-text">
      <p class="circle-subtext1"></p>
    </span>
    <span class="circle-text">
      <p class="circle-subtext2"></p>
      
    </span>
  </div>
  <a class="terugHP" href="/quiz_selection">Terug naar homepage</a>

  <script src="/script/js/script.js"></script>
</body>

</html>