.navbar {
  background-color: #393834;
}

.btn {
  background-color: #e2ded6;
  color: black;
}

.btn:hover {
  color: white;
  border-color: #e2ded6;
  background-color: #393834;
  resize: none;
}
.span {
  cursor: not-allowed;
}
.card {
  cursor: pointer;
}


@media only screen and (max-width: 500px) {
  .card {
    width: 90%;
    height: 90%;
    justify-content: center;
    align-items: center;
  }
}
