body {
  background-color: #e2ded6;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;
}

.img-text {
  margin-top: 75px;
  margin-bottom: 75px;
}

header {
  background-color: #6f8ea3;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.left-title {
  float: left;
}


.right-title {
  float: right;
}


.clearfix::after {
  content: "";
  display: table;
  clear: both;
}