body{
  background-image: url(/media/images/clean_white_polygon_backgrounds_8_geeks_love_bacon.jpg);
   background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow:visible;
}

.navbar {
  background-color: #393834;
}


.checkbox-row button.btn {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #f8f9fa;
  border: 1px solid #6c757d;
  border-radius: 4px;
  padding: 10px 20px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.checkbox-row button.btn:hover {
  background-color: #e9ecef;
}

.checkbox-row button.btn:focus {
  outline: none;
  box-shadow: 0 0 0 2px #0000ff33;
}

.btn {
  background-color: white;
  border-color: #393834;
  color: black;
}

.btn:hover {
  color: white;
  border-color: white;
  background-color: #393834;
  resize: none;
}

.card {
  cursor: pointer;
}

.card img {
  width: 480px;
  height: 220px;
  pointer-events: none;
}

footer{
  background-color: #393834;
  color: white;
}


.list-group-item {
display: flex;
justify-content: center;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.checkbox-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.checkbox-row input,
.checkbox-row label {
  margin: 0 0.5rem;
}

.Favourite {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.Favourite .btn {
  margin-bottom: 5rem;
}

.fw-bolder {
margin-top: 20px;

}

.container.text-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh; 

}


.container.text-center .text-center button {
  
  margin-bottom: 7rem; 
}



@media only screen and (max-width: 500px) {
  
  .card img {
    display: none;
  }
}

