

h1 {
  text-align: center;
  margin: auto;
}

.blur-button-lotr {
  position: relative;
  width: 200px;
  height: 200px;
  border: none;
  padding: 0;
  overflow: hidden;
  cursor: pointer;
}

.blur-button-lotr img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.blur-button-lotr:hover img {
  filter: blur(5px);
}
